.selector, .buttons{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:start;
  gap:16px;
  margin-top: 15px;
}

.selector label{
  font-size: 1.2rem;
  font-weight: 500;
}

.header{
  text-align: center;
}

.buttons{
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.browse{
  margin: 10px 0px;
  gap:16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filter{
  margin: 20px 0px;
  gap:16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.modeRadio{
  margin: 10px 0px;
}
